.wrapper {
    padding: 5px;
    display: inline-block;
  
  }
  
  h2 {
    font-size: 32;
    margin-left: 5px;
    margin-top: 25px;
    display: flex;
  }
  
  .contMovies, .contSeries {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
  }

.link {
  text-decoration: none;
  color: whitesmoke;
}

.link:active, .link:visited {
  text-decoration: none;
}

  
  
  