* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: grey;
  color: rgb(220, 221, 222);
  font-weight: 300;
  margin: 0px;
}


.App {
  margin: 0;
}


nav {
  background-color: rgb(35, 39, 42);
  height: 50px;
  padding: 5px;
}

input {
  background-color: rgb(35, 39, 42);
  height: 40px;
  border: 1px transparent;
  color: whitesmoke;
}

.wrapper {
  padding: 5px;
  

}

h2 {
  margin-left: 5px;
}

.contMovies, .contSeries {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}


