* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: grey;
  color: rgb(220, 221, 222);
  margin: 0px;
}


nav {
  background-color: rgb(35, 39, 42);
  height: 70px;
  padding: 5px;
}

input {
  background-color: rgb(35, 39, 42);
  height: 40px;
  border: 1px transparent;

}

.placeholder {
  color: whitesmoke;
  size: 14px;
}

